@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--dark{
		color: #181E3D !important;
	}
	&--yellow{
		color: $yellow !important;
	}
	&--blue{
		color: $blue !important;
	}
	&--gray{
		color: $gray !important;
	}
	&--red{
		color: $red !important;
	}
	&--geen{
		color: $geen !important;
	}
}

.c-bg{
	&--red{
		background: $red !important;
	}
}





.c-tx--v {
	//Vertical writing
	//display: inline-block;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	&-pc{
		@include mq(md-min) {
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	}
}



.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include font-size(14);
		line-height: 1.6;
		p{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		@include font-size(16);
		line-height: 1.4;
		font-weight: bold;
		position: relative;
		padding: 0 0 20px;
		margin-bottom: 30px;
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 25px;
			height: 15px;
			background: url("../img/dost.png")no-repeat;
			background-size: 100%;
		}
	}
	&__02{
		display: block;
		position: relative;
		@include font-size(16);
		line-height: 1.4;
		font-weight: bold;
		padding: 5px 0 5px 12px;
		margin-bottom: 30px;
		&:before{
			content: "";
			width: 5px;
			border-radius: 4px;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: $geen;
		}
		span{
			display: block;
		}
		.c-ft--en{
			@include font-size(12);
		}
	}
	&__03{
		display: block;
		@include font-size(14);
		font-weight: bold;
	}
}

//btn
.c-btn{
	&__01{
		border: none;
		@include flex(center,center);
		width: 100%;
		max-width: 325px;
		height: 46px;
		margin: 0 auto;
		@include font-size(14);
		font-weight: bold;
		line-height: 1.2;
		background: $blue;
		color: white;
		text-align: center;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		@include smooth-transition;
		&:hover{
			opacity: 1;
			background: $geen;
		}
		&:after{
			content: "";
			border: solid white;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
		&.disabled,&.hidden1,&.hidden2{
			background: #C6C6C6;
			pointer-events: none;
		}
	}
	&__02{
		border: none;
		@include flex(center,center);
		width: 100%;
		max-width: 80px;
		height: 46px;
		margin: 0 auto;
		@include font-size(20);
		font-weight: bold;
		line-height: 1.2;
		background: #8cd4f4;
		color: white;
		text-align: center;
		border-radius: 4px;
		position: relative;
		cursor: pointer;
		@include smooth-transition;
		&:hover{
			opacity: 1;
			background: $geen;
		}
		&.disabled,&.hidden1,&.hidden2{
			background: #C6C6C6;
			pointer-events: none;
		}
	}
}




