@use "vars" as *;

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@include flex(center,center,wrap);
	padding: 15px;
	z-index: 9999;
	background: white;
	border-bottom: 1px solid #ccc;
	.header-logo{
		display: block;
		width: 110px;
		margin: 0 auto;
		position: relative;
		z-index: 999;
	}
	.header-nav{
		display: none;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		height: calc(100vh - 60px);
		padding: 0 20px 60px;
		overflow-y: scroll;
		background: white;
		border-top: 1px solid #ccc;
		&__show{
			@include flex(0,0,wrap);
			height: 100%;
			align-content: space-between;
			padding: 30px 0 80px;
			position: relative;
			max-width: 750px;
			margin: 0 auto;
		}
		&__menu{
			width: 100%;
			margin-bottom: 50px;
			&:last-child{
				margin-bottom: 0;
			}
			&-item{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				>a{
					display: block;
					@include font-size(16);
					font-weight: bold;
					color: black;
					padding: 7px 0;
					position: relative;
					&:after{
						content: "";
						width: 20px;
						height: 2px;
						background: $geen;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					&.active{
						color: $geen;
					}
				}
			}
		}
		&__option{
			width: 100%;
			li{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					display: block;
					@include font-size(14);
					font-weight: bold;
					color: black;
					padding: 7px 0;
					position: relative;
					&:after{
						content: "";
						width: 20px;
						height: 2px;
						background: $geen;
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
			}
		}
		&__name{
			display: block;
			@include font-size(14);
			font-weight: bold;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.js-mobile {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 15px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 80%;
			height: 3px;
			background: $blue;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				height: 100%;
				background: $blue;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -2px;
				width: 120%;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -2px;
				width: 80%;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background:$blue;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}

.loading{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: white;
	&:before{
		content: '';
		position: absolute;
		top: 62px;
		left: 0;
		margin: auto;
		background: #198BCE;
		width: 0;
		height: 4px;
		@include smooth-transition;
	}
	&-sub{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		background: white;
		&.active{
			z-index: 999;
			opacity: 1;
			visibility: visible;
		}
		&__rotate{
			position: absolute;
			@include v-align;
			left: 0;
			right: 0;
			display: block;
			width: 74px;
			margin: 0 auto;
		}
		img{
			animation: rotate 2s linear infinite;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}

	to {
		transform: rotate(360deg)
	}
}

.is-hello{
	.loading{
		&:before{
			width: 100%;
		}
	}
	&.active{
		.loading{
			display: none;
		}
	}
	.mv-heading{
		opacity: 1;
		transform: translate(0, 0);
		transition-delay: 2.6s;
	}
}
@keyframes byeShutter {
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		z-index: -1;
	}
}
@keyframes shutterOpen {
	0% {
		width: 0;
		height: 1px;
	}
	50% {
		width: 100%;
		height: 1px;
	}
	90% {
		width: 100%;
		height: 100%;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}