<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Japany">
	</a>
	<nav class="header-nav">
		<div class="header-nav__show">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="" class="active">日本語レベルチェック</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">目標と進捗</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">目標設定</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">全コース一覧</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">おすすめコースを見る</a>
				</li>
			</ul>
			<ul class="header-nav__option">
				<li class="header-nav__option-item">
					<a href="">お知らせ</a>
				</li>
				<li class="header-nav__option-item">
					<a href="">Language settings</a>
				</li>
				<li class="header-nav__option-item">
					<a href=""> log out</a>
				</li>
			</ul>
			<div class="header-nav__name">
				user name
			</div>
		</div>
	</nav>
	<span class="js-mobile">
			<span></span>
		</span>
</header>