<main class="page-<%= pageData.template %>">
	<section class="sec-content">
		<div class="inner">
			<h1 class="c-ttl__02">
				<span class="c-ft--jp">言語設定</span>
				<span class="c-ft--en">Language</span>
			</h1>
			<div class="login-block">
				<div class="login-input c-txt__basic">
					<dl class="login-input__item">
						<dt>言語を選択</dt>
						<dd>
							<select class="form-control language">
								<option value=""></option>
								<option value="jp">JP</option>
								<option value="en">EN</option>
							</select>
						</dd>
					</dl>
				</div>
				<div class="login-sub">
					<div class="login-sub__img">
						<img src="<%= RELATIVE_PATH %>img/item.png" alt="Japany">
					</div>
					<a href="/" class="c-btn__01 disabled">
						TOP
					</a>
				</div>
			</div>
		</div>
	</section>
</main>