<main class="page-<%= pageData.template %>">
	<section class="sec-check sec-check--list">

		<div class="inner">
			<h1 class="c-ttl__01 mb0">07.カレンダー</h1>
			<div class="check-bar check-bar--list">
				<div class="check-bar__time check-bar__time--start">
					<span class="check-bar__time-ttl">実施予定時間  <span class="time c-fc--geen">02:02</span></span>
				</div>
			</div>
			<ul class="content-other-list">
				<li class="item">
					<div class="content-other-list__heading">
						<span class="content-other-list__heading-ttl">No.sampe number</span>
						<span class="time">02:02</span>
					</div>
					<span class="content-other-list__status">レッスン完了</span>
					<span class="content-other-list__ttl"> sample title</span>
					<a href="" class="c-btn__01">はじめる</a>
				</li>
				<li class="item">
					<div class="content-other-list__heading">
						<span class="content-other-list__heading-ttl">No.sampe number</span>
						<span class="time">02:02</span>
					</div>
					<span class="content-other-list__status">レッスン完了</span>
					<span class="content-other-list__ttl"> sample title</span>
					<a href="" class="c-btn__01">はじめる</a>
				</li>
				<li class="item">
					<div class="content-other-list__heading">
						<span class="content-other-list__heading-ttl">No.sampe number</span>
						<span class="time">02:02</span>
					</div>
					<span class="content-other-list__status">レッスン完了</span>
					<span class="content-other-list__ttl"> sample title</span>
					<a href="" class="c-btn__01">はじめる</a>
				</li>
				<li class="item">
					<div class="content-other-list__heading">
						<span class="content-other-list__heading-ttl">No.sampe number</span>
						<span class="time">02:02</span>
					</div>
					<span class="content-other-list__status">レッスン完了</span>
					<span class="content-other-list__ttl"> sample title</span>
					<a href="" class="c-btn__01">はじめる</a>
				</li>
				<li class="item">
					<div class="content-other-list__heading">
						<span class="content-other-list__heading-ttl">No.sampe number</span>
						<span class="time">02:02</span>
					</div>
					<span class="content-other-list__status">レッスン完了</span>
					<span class="content-other-list__ttl"> sample title</span>
					<a href="" class="c-btn__01">はじめる</a>
				</li>
			</ul>
		</div>
	</section>
</main>
