<main class="page-<%= pageData.template %>">
	<section class="sec-content">
		<div class="inner">
			<h1 class="c-ttl__02">
				<span class="c-ft--jp">目標設定</span>
			</h1>
			<div class="content-layout">
				<div class="setting-block--all">
					<div class="setting-block c-txt__basic">
						<div class="item">
							<h2 class="setting-block__ttl">目標のレベルを選んでください</h2>
							<p>日本語能力試験（JLPT）レベル</p>
							<select class="form-control setting01">
								<option value=""></option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<div class="item">
							<h2 class="setting-block__ttl">目標の会話レベルを選んでください</h2>
							<p>会話レベル</p>
							<select class="form-control setting02">
								<option value=""></option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<div class="item">
							<h2 class="setting-block__ttl">ご自身の業種を選んでください</h2>
							<select class="form-control setting03">
								<option value=""></option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
					</div>
					<a href="/" class="c-btn__01 disabled">
						次へ
					</a>
				</div>

			</div>


		</div>
	</section>
</main>